body {
        padding-top: 70px;
}

.login_success,
.login_warning,
.patient_search_warning,
.patient_search_response,
.patient_insert_success,
.patient_insert_warning,
.afiliation_code_group,
.order_test_template {
        display: none;
}

thead th {
        text-align: center;
}

.patient_search_list tbody tr {
        cursor: pointer;
}

.patient_search_list tbody tr:hover {
        background: #ccc;
}
